/* Details */

/* this is a fix post WP 6.6 that introduced a weird gap above almost everything. */
.is-layout-flow > details,
.is-layout-flow > .details-inner {
	margin-block-start: 0;
}

summary {
	list-style: none;
	cursor: pointer;
	position: relative;
	z-index: 10;
}

summary > * {
	display: inline;
}

summary::marker,
summary::-webkit-details-marker {
	display: none;
}
details[open] summary::marker,
details[open] summary::-webkit-details-marker {
	display: none;
}

.accordions {
	margin-bottom: --spacing(8);
}

.accordions	details {
	margin-bottom: 2px;
}

.accordions details[open] summary::before {
	content: '-';
}

.accordions summary {
	font-family: var(--font-head);
	font-size: var(--wp--preset--font-size--2-xl);
	padding-inline: --spacing(4);
	padding-bottom: --spacing(2);
	padding-top: --spacing(1);

}
.accordions summary::before {
	content: '+';
	font-family: var(--font-mono);
	margin-right: --spacing(1);
}
.accordions summary:hover::before {
	@apply motion-safe:animate-pulse;
}

.accordions .details-inner {
	background-color: var(--color-neutral-50);
	padding-inline: --spacing(2);
	padding-block: --spacing(4);
	position: relative;
	/* will-change: transform; */
	z-index: 5;
}

.accordions .details-inner > ul {
	margin-block: 0 !important;
}

.accordions.is-style-default details[open] summary {
	color: var(--color-neutral-900);
}
.accordions.is-style-default summary {
	background-color: var(--color-neutral-200);
	color: var(--color-neutral-700);
}
.accordions.is-style-default summary::before {
	color: var(--color-neutral-400);
}

.accordions.is-style-aqua details[open] summary {
	color: white;
}
.accordions.is-style-aqua summary {
	background-color: var(--color-aqua-800);
	color: var(--color-aqua-50);
}

.accordions.is-style-aqua summary::before {
	color: var(--color-aqua-100);
}

.accordions.is-style-green details[] summary {
	color: white;
}

.accordions.is-style-green summary {
	background-color: var(--color-atlantis-800);
	color: var(--color-atlantis-50);
}
.accordions.is-style-green summary::before {
	color: var(--color-atlantis-100);
}


/* @media (prefers-reduced-motion: no-preference) {
	details[open] summary ~ * {
		animation: slide-in-from-top 300ms;
	}
} */


@media (prefers-color-scheme: dark) {
	.accordions .details-inner {
		background-color: var(--color-neutral-800);
		color: var(--color-neutral-300);
	}
}


@media (width >= theme(--breakpoint-lg)) {
	.accordions .details-inner {
		padding-inline: --spacing(4);
		padding-bottom: --spacing(6);
		padding-top: --spacing(4);
	}
}
