/* Block: Callout */
.llcallout {
	--_title-bg: var(--color-neutral-200);
	--_title-color: var(--color-neutral-900);
	border-color: var(--_title-bg);
}
.llcallout .acf-innerblocks-container {
	padding: --spacing(2);
}
.llcallout-title {
	background-color: var(--_title-bg);
	color: var(--_title-color);
}
.llcallout.is-style-note {
	--_title-bg: var(--color-blue-200);
	--_title-color: var(--color-blue-900);
}
.llcallout.is-style-info {
	--_title-bg: var(--color-cyan-200);
	--_title-color: var(--color-cyan-900);
}
.llcallout.is-style-tip {
	--_title-bg: var(--color-teal-200);
	--_title-color: var(--color-teal-900);
}
.llcallout.is-style-success {
	--_title-bg: var(--color-green-200);
	--_title-color: var(--color-green-900);
}
.llcallout.is-style-warning {
	--_title-bg: var(--color-orange-200);
	--_title-color: var(--color-orange-900);
}
.llcallout.is-style-danger {
	--_title-bg: var(--color-red-200);
	--_title-color: var(--color-red-900);
}
.llcallout.is-style-example {
	--_title-bg: var(--color-purple-200);
	--_title-color: var(--color-purple-900);
}
.llcallout.is-style-quote {
	--_title-bg: var(--color-neutral-200);
	--_title-color: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
	.llcallout {
		--_title-bg: var(--color-neutral-700);
		--_title-color: var(--color-neutral-50);
	}
	.llcallout.is-style-note {
		--_title-bg: var(--color-blue-700);
		--_title-color: var(--color-blue-50);
	}
	.llcallout.is-style-info {
		--_title-bg: var(--color-cyan-700);
		--_title-color: var(--color-cyan-50);
	}
	.llcallout.is-style-tip {
		--_title-bg: var(--color-teal-700);
		--_title-color: var(--color-teal-50);
	}
	.llcallout.is-style-success {
		--_title-bg: var(--color-green-700);
		--_title-color: var(--color-green-50);
	}
	.llcallout.is-style-warning {
		--_title-bg: var(--color-orange-700);
		--_title-color: var(--color-orange-50);
	}
	.llcallout.is-style-danger {
		--_title-bg: var(--color-red-700);
		--_title-color: var(--color-red-50);
	}
	.llcallout.is-style-example {
		--_title-bg: var(--color-purple-700);
		--_title-color: var(--color-purple-50);
	}
	.llcallout.is-style-quote {
		--_title-bg: var(--color-neutral-700);
		--_title-color: var(--color-neutral-50);
	}
}
