/* Block: Ad */
.llad:not([class*="is-style-"]) {
	/* Default = Clear */
	background-color: transparent;
}
.llad.is-style-atlantis {
	background-color: theme(colors.atlantis.700);
}
.llad.is-style-aqua {
	background-color: theme(colors.aqua.700);
}
.llad.is-style-brand-gray {
	background-color: theme(colors.neutral.700);
}
