/* Block: Ad */
.llad:not([class*="is-style-"]) {
	/* Default = Clear */
	background-color: transparent;
}
.llad.is-style-atlantis {
	background-color: var(--color-atlantis-700);
}
.llad.is-style-aqua {
	background-color: var(--color-aqua-700);
}
.llad.is-style-brand-gray {
	background-color: var(--color-neutral-700);
}
