/*   B u t t o n s   */

.wp-block-button__link {
	--tw-shadow-color: var(--color-neutral-700);
	--tw-shadow: var(--tw-shadow-colored);
	font-family: var(--font-head);
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	padding-inline: 1.25rem;
	padding-block: 0.75rem;
	text-decoration-line: none;
}
.wp-block-button__link:hover {
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wp-block-button__link:focus {
	--tw-ring-color: rgb(103 232 249 / 0.8);
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	outline: 2px solid transparent;
  outline-offset: 2px;
}

.wp-block-button__link:not(.has-background):hover {
	background-color: var(--color-aqua-700);
	oclor: white;
}

.is-style-outline > .wp-block-button__link:not(.has-text-color) {
	border-width: 2px;
	border-style: solid;
	border-color: currentColor;
	background-color: transparent;
	color: currentColor;
}
.is-style-outline > .wp-block-button__link:not(.has-text-color):hover {
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	border-color: var(--color-aqua-500);
	color: var(--color-aqua-500);
}


/* on dark bg color? */
.on-darkbg :not(.is-style-outline) > .wp-block-button__link:not(.has-background) {
	background-color: var(--color-aqua-200);
	color: var(--color-brand-gray-dark);
}
.on-darkbg :not(.is-style-outline) > .wp-block-button__link:not(.has-background):hover {
	background-color: var(--color-aqua-500);
	color: var(--color-aqua-100);
}

.on-darkbg .is-style-outline > .wp-block-button__link:not(.has-text-color):hover {
	background-color: transparent;
	border-color: var(--color-aqua-200);
	color: var(--color-aqua-200);
}


@media (width >= theme(--breakpoint-sm)) {
	.wp-block-button__link {
		width: auto;
	}
}

@media (width >= theme(--breakpoint-lg)) {
	.wp-block-button__link {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}
