/* Cards that flip */
.ind-card-flips {
	--card-size: 288px;
	--card-front-bg: #f5f5f5;
	--card-front-icon: #262626;
	--card-back-bg: #262626;
	--card-front-text: #e5e5e5;
	--card-back-text: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	gap: --spacing(4);

	list-style: none;
}

.ind-card-flips :is(.card:hover, .card:active, .card:focus) .card-content {
	transform: rotateY(180deg);
}

.ind-card-flips	.card-back p,
.ind-card-flips	.card-back li {
	font-size: var(--text-sm);
	line-height: var(--text-base--line-height);
}

.ind-card-flips:has(.card-ic-flip) {
	--_card-size: 180px;
}

.ind-card-flips.is-style-default {
	--_card-front-bg: #f5f5f5;
	--_card-front-text: #262626;
	--_card-front-icon: #00668e;
	--_card-back-bg: #404040;
}

.ind-card-flips.is-style-atlantis {
	--_card-front-bg: oklch(92.23% 0.08 117.04);
	--_card-front-text: oklch(26.98% 0.053 120.25);
	--_card-front-icon: oklch(26.98% 0.053 120.25);
	--_card-back-bg: oklch(43.39% 0.093 120.53);
}

.ind-card-flips.is-style-aqua {
	--_card-front-bg: oklch(94.72% 0.025 202.81);
	--_card-front-text: oklch(39.7% 0.058 201.81);
	--_card-front-icon: oklch(39.7% 0.058 201.81);
	--_card-back-bg: oklch(39.7% 0.058 201.81);
}

.ind-card-flips.is-style-white {
	--_card-front-bg: var(--color-white);
	--_card-front-text: var(--color-atlantis-950);
	--_card-front-icon: var(--color-white);
	--_card-back-bg: var(--color-white);
	--_card-back-text: var(--color-atlantis-950);
}

.card-ic-flip {
	width: var(--_card-size);
	height: var(--_card-size);
	perspective: 600px;
}

.card-ic-flip .card-content {
	transform-style: preserve-3d;
}

.card-ic-flip .card-front {
	background-color: var(--_card-front-bg);
	color: var(--_card-front-text);
}

.card-ic-flip .card-icon {
	color: var(--_card-front-icon);
}

.card-ic-flip .card-back {
	background-color: var(--_card-back-bg);
	color: var(--_card-back-text);
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

@media (prefers-color-scheme: dark) {
	.ind-card-flips.is-style-default {
		--card-front-bg: #262626;
		--card-front-text: #f5f5f5;
		--card-front-icon: #67e8f9;
		--card-back-bg: #404040;
	}

	.ind-card-flips.is-style-white {
		--_card-front-bg: var(--color-neutral-800);
		--_card-front-text: var(--color-atlantis-600);
		--_card-front-icon: var(--color-white);
		--_card-back-bg: var(--color-neutral-800);
		--_card-back-text: var(--color-neutral-300);
	}
}


@media (width >= theme(--breakpoint-md)) {
	.ind-card-flips:has(.card-ic-flip) {
		--_card-size: 190px;
	}
}

@media (width >= theme(--breakpoint-lg)) {
	.ind-card-flips {
		gap: --spacing(8);
	}

	.ind-card-flips:has(.card-ic-flip) {
		--_card-size: 200px;
	}
}
