/* Style a parent element based on its number of children using CSS :has()
via: https://www.bram.us/2022/11/17/style-a-parent-element-based-on-its-number-of-children-using-css-has/ */

[class*="dps-grid-"] {
	display: grid;
	gap: --spacing(4);
	max-width: 28rem !important;
	margin-inline: auto;
}

.dps-inline > *:not(:last-child)::after {
	content: ", ";
}
.dps-inline > *:last-child::before {
	content: "and ";
}

.grid-team {
	display: grid;
	gap: --spacing(4);
}

:root :where(.grid-team.is-layout-flow) > * {
	margin-block-start: 0;
}


@media (width >= theme(--breakpoint-md)) {
	.dps-grid-4max,
	.dps-grid-3max,
	.dps-grid-2max {
		max-width: none !important;
	}
	.dps-grid-4max {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.dps-grid-3max {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.dps-grid-2max {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}


@media (width >= theme(--breakpoint-lg)) {
	.dps-grid-4max {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.grid-team {
		gap: --spacing(6);
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
