/* Footnotes
 * Converted from Easy Footnotes plugin to work w/ WP 6.3 native Footnote block.
 */

 ol.wp-block-footnotes {
	max-width: 65ch;
	font-size: 0.875rem;
  line-height: 1.25rem
}

sup.fn a {
	color: theme(colors.aqua.500);
	font-weight: 700;
	text-decoration-line: none;

	&:hover {
		color: currentColor;
	}
}

@media screen and (min-width: 1024px) {
	ol.wp-block-footnotes {
		font-size: 1rem;
    line-height: 1.5rem;
	}
}
