/* Styles for Forms and HubSpot Form Embeds */

.container-contact-form {
	margin-bottom: --spacing(4);
	padding: --spacing(4);
	min-height: 590px;
	border-width: 1px;
	border-color: var(--color-neutral-400);
	background-image: linear-gradient(
		to bottom,
		var(--color-neutral-100) 0,
		rgb(255 255 255 / 1) 30%
	);
}

/* TODO: Double-check that all these are needed since I have enabled the Tailwind Forms plugin */

.gform_body {
	margin-bottom: --spacing(4);
}

.gform_fields {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	gap: --spacing(2);
}

fieldset {
	margin-bottom: --spacing(2);
}

label,
.gfield_label {
	font-family: serenity, sans-serif;
	font-size: var(--wp--preset--font-size--lg);
}
.gform-field-label--type-sub {
	font-size: var(--wp--preset--font-size--base);
}

.gfield_description {
	font-size: var(--wp--preset--font-size--base);
}
.ginput_counter.gfield_description {
	font-size: var(--wp--preset--font-size--sm);
}

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:where(:not([type])),
select,
textarea {
	appearance: none;
	border-radius: 0;
	padding: 0.5rem 0.75rem;
	font-size: --spacing(4);
	line-height: --spacing(6);
	--tw-shadow: 0 0 #0000;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select,
textarea {
	@apply focus:border-atlantis-500/80 w-full border border-neutral-400 bg-white dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-200 dark:focus:bg-neutral-950;
}

select {
	@apply py-1;
}

input[type="checkbox"] {
	@apply text-atlantis-500 checked:border-atlantis-500 focus:ring-atlantis-200/80 pointer-events-none -mt-0.5 mr-1 shrink-0 rounded border-2 border-neutral-200 focus:outline-none focus:ring dark:border-neutral-600 dark:bg-neutral-700 md:mr-2;
}

input[type="radio"] {
	@apply text-atlantis-500 checked:border-atlantis-500 focus:ring-atlantis-200/80 pointer-events-none -mt-0.5 mr-1 shrink-0 border-2 border-neutral-200 focus:outline-none focus:ring dark:border-neutral-600 dark:bg-neutral-700 md:mr-2;
}

input[type="submit"],
button.ab-button {
	@apply font-head bg-aqua-800 hover:bg-aqua-500 focus:ring-atlantis-200/80 active:bg-aqua-500 inline-flex items-center justify-center rounded-lg px-5 py-3 font-bold text-white shadow-neutral-800 hover:shadow-xl focus:outline-none focus:ring active:shadow-sm sm:w-auto;
}

.gform_footer.top_label {
	display: table-cell;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
}

.gfield_required {
	@apply text-sm font-bold text-orange-800 before:content-['_'] dark:text-orange-300;
}

.gfield_visibility_hidden {
	left: -9999px;
	position: absolute;
	visibility: hidden;
}

.gform_fileupload_rules {
	display: block;
	margin-top: --spacing(2);
}

.gform_validation_container {
	display: none !important;
	left: -9000px;
	position: absolute !important;
}
.gfield_validation_message {
	font-style: italic;
	color: #c00;
}
.gfield_validation_message ul {
	margin: --spacing(4) 0;
	padding-left: --spacing(6);
}
.gfield_validation_message ul:empty {
	display: none;
}
.validation_message--hidden-on-empty:empty {
	display: none;
}
.gform_validation_errors {
	background: #fff9f9;
	border: 1.5px solid #c02b0a;
	border-radius: 5px;
	box-shadow:
		0 1px 4px rgba(0, 0, 0, 0.1),
		0 0 4px rgba(18, 25, 97, 0.04);
	margin-bottom: theme(space.2);
	margin-top: theme(space.2);
	padding: --spacing(4);
	position: relative;
	width: 100%;
}
.gform_validation_errors h2 {
	font-size: var(--wp--preset--font-size--base);
	color: #c02b0a;
}

/* date fields might be a problem */

/* .gform_footer {
	margin-top: 0.5em;
} */

@media (prefers-color-scheme: dark) {
	.container-contact-form {
		border-color: var(--color-neutral-700);
		background-image: linear-gradient(
			to bottom,
			var(--color-neutral-800) 0,
			var(--color-neutral-900) 30%
		);
		color: var(--color-neutral-400);
	}
	input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
	select,
	textarea {
		color: var(--color-neutral-200);
		border-color: var(--color-neutral-600);
		background-color: var(--color-neutral-700);
	}
	input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):focus,
	select:focus,
	textarea:focus {
		background-color: var(--color-neutral-950);
	}
	input[type="checkbox"],
	input[type="radio"] {
		border-color: var(--color-neutral-600);
		background-color: var(--color-neutral-700);
	}
}

@media (width >= theme(--breakpoint-sm)) {
	input[type="submit"] {
		width: auto;
	}
}

@media (width >= theme(--breakpoint-md)) {
	.gform_fields {
		gap: --spacing(4);
	}
	input[type="checkbox"],
	input[type="radio"] {
		margin-right: --spacing(2);
	}
	.form-columns-2 {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: --spacing(2);
	}
}

@media (width >= theme(--breakpoint-lg)) {
	.container-contact-form {
		margin-bottom: 0;
		padding: --spacing(8);
	}
	input[type="submit"] {
		font-size: var(--text-lg);
		line-height: var(--text-2xl--line-height);
	}
	.form-columns-2 {
		gap: --spacing(8);
	}
}

@media print {
	.container-contact-form,
	form {
		display: none;
	}
}
