
.ll-img-float-right {
	float: right;
	margin: 0 0 --spacing(4) --spacing(8) !important;
}

.ll-img-float-left {
	float: left;
	margin: 0 --spacing(8) --spacing(4) 0 !important;
}

.ll-img-float-right,
.ll-img-float-left {
	max-width: 150px;
}

@media (width >= theme(--breakpoint-md)) {
	.ll-img-float-right,
	.ll-img-float-left {
		max-width: unset;
	}
}
