/*   N a v i g a t i o n   */

/* via: https://twitter.com/briancoords/status/1775177568188293513 */
body.admin-bar .nav-header { top: var(--wp-admin--admin-bar--height, 0px); }

/* .menu-item-has-children > ul { margin-left: --spacing(4); }

.disclosure-nav .dropmenu:not(.mega) {
	display: block;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	background-color: white;
  border-color: var(--color-aqua-500);
	border-bottom-right-radius: --spacing(2);
  border-bottom-left-radius: --spacing(2);
	border-top-width: --spacing(1);
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 20;
	animation: fade-in-from-top 300ms;
}
.disclosure-nav .dropmenu > ul { z-index: 30; }

.disclosure-nav .dropmenu.mega {
	display: block;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	background-color: white;
  border-color: var(--color-aqua-500);
	border-bottom-right-radius: --spacing(1);
  border-bottom-left-radius: --spacing(1);
	border-top-width: --spacing(1);
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 20;
	animation: fade-in-from-top 300ms;
} */

.disclosure-nav ul {
	list-style-type: none;
	font-weight: normal;
}

.disclosure-nav > li {
	position: relative;
	display: flex;
}

.disclosure-nav ul a {
	margin: 0;
	display: block;
	border-width: 0;
	padding-inline: --spacing(4);
	padding-block: --spacing(1.5);
	color: var(--color-neutral-900);
}

.disclosure-nav ul a:hover,
.disclosure-nav ul a:focus {
	/* background-color: var(--color-neutral-100); */
	color: black;
	margin-bottom: 0;
	text-decoration-color: var(--color-aqua-300);
	text-decoration-line: underline;
}

.disclosure-nav ul a:focus {
	position: relative;
	outline-color: rgb(69 194 204 / 0.75);
	outline-style: solid;
	outline-offset: 4px;
}

.disclosure-nav button,
.disclosure-nav .main-link {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	padding: --spacing(2);
	text-decoration-thickness: 2px;
}
.disclosure-nav button:hover,
.disclosure-nav .main-link:hover {
	color: var(--color-aqua-500);
	text-decoration-line: underline;
}

.disclosure-nav .main-link { border-right-color: transparent; }

/* .disclosure-nav button::after {
	content: "";
	margin-left: --spacing(3);
	height: --spacing(2);
	width: --spacing(2);
	transform: rotate(45deg);
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: var(--color-neutral-900);
}

.disclosure-nav .main-link + button::after { margin-left: 0; } */

.disclosure-nav button:focus,
.disclosure-nav .main-link:focus {
	outline-color: rgb(69 194 204 / 0.75);
	outline-offset: 4px;
	outline-style: solid;
	position: relative;
}

.disclosure-nav button:hover,
.disclosure-nav button[aria-expanded="true"] {
	color: white;
	background-color: var(--color-aqua-500);
}

.disclosure-nav button:hover::after,
.disclosure-nav button[aria-expanded="true"]::after { border-color: white; }

.disclosure-nav .nav-footer-only { display: none; }

.mega-menu {
	visibility: hidden;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 300ms;
  transition-timing-function: var(--ease-in-out);
}

/* Submenus */
.submenu .menu { list-style-type: none; }
.submenu .menu-item { margin-top: --spacing(2); }
.submenu .sub-menu { display: none; }
.submenu .current-menu-ancestor > a {
	font-weight: bold;
	color: var(--color-neutral-600);
}
.submenu .current_page_item > a { color: var(--color-aqua-500) !important; }

/* Footer Nav */
.footermenu .menu { list-style-type: none; }
.footermenu .menu > * + * {
	margin-top: --spacing(1);
	line-height: 1.2;
}
.footermenu .sub-menu { display: none; }
.footermenu .current-menu-ancestor > a {
	font-weight: bold;
	color: var(--color-neutral-600);
}
.footermenu .current_page_item > a,
.footermenu .current-menu-item > a { color: var(--color-aqua-200) !important; }


.toggle-input,
.toggle-input:not(checked) ~ .mega-menu {
	visibility: hidden;
	opacity: 0;
}

.toggle-input:checked ~ .mega-menu {
	visibility: visible;
	opacity: 1;
}


@media (prefers-color-scheme: dark) {
	/* .disclosure-nav .dropmenu:not(.mega) {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-200);
  	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	}
	.disclosure-nav .dropmenu.mega {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-200);
	} */
	.disclosure-nav ul a {
		color: var(--color-neutral-100);
	}
	.disclosure-nav ul a:hover,
	.disclosure-nav ul a:focus {
		background-color: var(--color-neutral-900);
		color: var(--color-neutral-100);
	}
	.disclosure-nav button:hover,
	.disclosure-nav .main-link:hover {
		color: white;
	}
	.disclosure-nav button::after {
		border-color: var(--color-neutral-200);
	}
	.disclosure-nav button:focus,
	.disclosure-nav .main-link:focus {
		outline-color: rgb(103 232 249 / 0.75);
	}
	.menus-container[data-visible] {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-100);
	}
	.menus-container .icon {
		fill: var(--color-neutral-100);
	}
}


@media (width < theme(--breakpoint-md)) {

	.toggle-mobile-nav[aria-expanded="true"] { color: var(--color-aqua-500); }

	.menus-container {
		inset: 3.5em 0 auto;
		position: absolute;
		display: none;
		width: 100%;
		background-color: transparent;
		padding: --spacing(4);
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
		transition-duration: 500ms;
		transition-timing-function: linear;
	}
	.menus-container a:hover,
	.menus-container a:focus { color: var(--color-aqua-200);
	}
	.menus-container a:active { color: var(--color-aqua-500);
	}

	.menus-container[data-visible] {
		display: block;
		background-color: var(--color-neutral-50);
		color: var(--color-neutral-800);
		--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
		--tw-shadow-color: rgb(23 23 23 / 0.6);
		--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	.menus-container .icon {
		fill: var(--color-neutral-200);
	}
}


@media ((prefers-color-scheme: dark) and (width < theme(--breakpoint-md))) {
	.menus-container[data-visible] {
		background-color: var(--color-neutral-900);
		color: var(--color-neutral-100);
	}
}


@media (width >= theme(--breakpoint-md)) {
	/* .disclosure-nav .dropmenu:not(.mega) {
		left: -32px;
		min-width: 320px;
	}
	.disclosure-nav .dropmenu.mega {
		left: -280px;
		min-width: 680px;
		padding-inline: --spacing(2);
	} */
	.disclosure-nav button,
	.disclosure-nav .main-link {
		padding-inline: --spacing(0.5);
	}
	.footermenu .menu > * + * {
		margin-top: --spacing(2);
	}

	/* .menu-legal ul.menu {
		display: flex;

		.menu-item {
			display: inline;
		}

		> * + * {
			margin-top: unset;
			margin-left: --spacing(2);

			&::before {
				content: "|";
				color: --alpha(var(--color-white) / 50%);
				margin-right: --spacing(2);
			}
		}
	} */
}



@media (width >= theme(--breakpoint-lg)) {
	/* .disclosure-nav .dropmenu:not(.mega) {
		left: -64px;
	}
	.disclosure-nav .dropmenu.mega {
		left: -380px;
		min-width: 960px;
		padding-inline: --spacing(4);
	} */
	.disclosure-nav ul a {
		padding-block: --spacing(2);
	}
	.disclosure-nav button,
	.disclosure-nav .main-link {
		padding-inline: --spacing(1);
	}

	.footermenu ul {
		display: flex;
		gap: --spacing(6);
	}
	.footermenu .menu > * {
		margin-top: unset;
		line-height: initial;
	}

}

