/*   N a v i g a t i o n   */

/* via: https://twitter.com/briancoords/status/1775177568188293513 */
body.admin-bar .nav-header { top: var(--wp-admin--admin-bar--height, 0px); }

.menu-item-has-children > ul { margin-left: 1rem; }

.disclosure-nav .dropmenu:not(.mega) {
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	background-color: white;
  border-color: var(--color-aqua-500);
	border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
	border-top-width: 4px;
	position: absolute;
	top: 100%;
	z-index: 20;
	display: block;
	width: 100%;
	animation: fade-in-from-top 300ms;
}
.disclosure-nav .dropmenu > ul { z-index: 30; }

.disclosure-nav .dropmenu.mega {
	--tw-text-opacity: 1;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  color: rgb(10 10 10 / var(--tw-text-opacity));
	animation: fade-in-from-top 300ms;
	background-color: white;
	border-bottom-right-radius: 0.125rem/* 2px */;
  border-bottom-left-radius: 0.125rem/* 2px */;
	border-top-width: 4px;
  border-color: var(--color-aqua-500);
	display: block;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 20;
}

.disclosure-nav ul {
	list-style-type: none;
	font-weight: normal;
}

.disclosure-nav > li {
	position: relative;
	display: flex;
}

.disclosure-nav ul a {
	margin: 0;
	display: block;
	border-width: 0;
	padding-inline: 1rem;
	padding-block: 0.375rem;
	color: var(--color-neutral-950);
}

.disclosure-nav ul a:hover,
.disclosure-nav ul a:focus {
	background-color: var(--color-neutral-100);
	color: black;
	margin-bottom: 0;
	text-decoration-color: var(--color-aqua-200);
	text-decoration-line: underline;
}

.disclosure-nav ul a:focus {
	position: relative;
	outline-color: rgb(69 194 204 / 0.75);
	outline-style: solid;
	outline-offset: 4px;
}

.disclosure-nav button,
.disclosure-nav .main-link {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	padding: 0.5rem;
	text-decoration-thickness: 2px;
}
.disclosure-nav button:hover,
.disclosure-nav .main-link:hover {
	color: var(--color-aqua-500);
	text-decoration-line: underline;
}

.disclosure-nav .main-link { border-right-color: transparent; }

.disclosure-nav button::after {
	content: "";
	margin-left: 0.75rem;
	height: 0.5rem;
	width: 0.5rem;
	transform: rotate(45deg);
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: var(--color-neutral-900);
}

.disclosure-nav .main-link + button::after { margin-left: 0; }

.disclosure-nav button:focus,
.disclosure-nav .main-link:focus {
	outline-color: rgb(69 194 204 / 0.75);
	outline-offset: 4px;
	outline-style: solid;
	position: relative;
}

.disclosure-nav button:hover,
.disclosure-nav button[aria-expanded="true"] {
	color: white;
	background-color: var(--color-aqua-500);
}

.disclosure-nav button:hover::after,
.disclosure-nav button[aria-expanded="true"]::after { border-color: white; }

.disclosure-nav .nav-footer-only { display: none; }

.mega-menu {
	visibility: hidden;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Submenus */
.submenu .menu { list-style-type: none; }
.submenu .menu-item { margin-top: 0.5rem; }
.submenu .sub-menu { display: none; }
.submenu .current-menu-ancestor > a {
	font-weight: bold;
	color: var(--color-neutral-600);
}
.submenu .current_page_item > a { color: var(--color-aqua-500) !important; }

/* Footer Nav */
.footermenu .menu { list-style-type: none; }
.footermenu .menu > * + * {
	margin-top: 0.25rem;
	line-height: 1.2;
}
.footermenu .sub-menu { display: none; }
.footermenu .current-menu-ancestor > a {
	font-weight: bold;
	color: var(--color-neutral-600);
}
.footermenu .current_page_item > a,
.footermenu .current-menu-item > a { color: var(--color-aqua-200) !important; }


.toggle-input,
.toggle-input:not(checked) ~ .mega-menu {
	visibility: hidden;
	opacity: 0;
}

.toggle-input:checked ~ .mega-menu {
	visibility: visible;
	opacity: 1;
}


@media (prefers-color-scheme: dark) {
	.disclosure-nav .dropmenu:not(.mega) {
		--tw-bg-opacity: 1;
		--tw-text-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: rgb(229 229 229 / var(--tw-text-opacity));
  	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	}
	.disclosure-nav .dropmenu.mega {
		--tw-bg-opacity: 1;
		--tw-text-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: rgb(229 229 229 / var(--tw-text-opacity));
	}
	.disclosure-nav ul a {
		color: var(--color-neutral-100);
	}
	.disclosure-nav ul a:hover,
	.disclosure-nav ul a:focus {
		background-color: var(--color-neutral-900);
		color: var(--color-neutral-100);
	}
	.disclosure-nav button:hover,
	.disclosure-nav .main-link:hover {
		color: white;
	}
	.disclosure-nav button::after {
		border-color: var(--color-neutral-200);
	}
	.disclosure-nav button:focus,
	.disclosure-nav .main-link:focus {
		outline-color: rgb(103 232 249 / 0.75);
	}
	.menus-container[data-visible] {
		--tw-bg-opacity: 1;
		--tw-text-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    color: rgb(245 245 245 / var(--tw-text-opacity));
	}
	.menus-container .icon {
		fill: var(--color-neutral-100);
	}
}


@media (width < theme(--breakpoint-md)) {

	.toggle-mobile-nav[aria-expanded="true"] {
		color: var(--color-aqua-500);
	}

	.menus-container {
		inset: 3.5em 0 auto;
		position: absolute;
		display: none;
		width: 100%;
		background-color: transparent;
		padding: 1rem;
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
		transition-duration: 500ms;
		transition-timing-function: linear;
	}
	.menus-container a:hover,
	.menus-container a:focus { color: var(--color-aqua-200);
	}
	.menus-container a:active { color: var(--color-aqua-500);
	}

	.menus-container[data-visible] {
		display: block;
		background-color: var(--color-neutral-50);
		color: var(--color-neutral-800);
		--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
		--tw-shadow-color: rgb(23 23 23 / 0.6);
		--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}

	.menus-container .icon {
		fill: var(--color-neutral-200);
	}
}


@media (width >= theme(--breakpoint-md)) {
	.disclosure-nav .dropmenu:not(.mega) {
		left: -32px;
		min-width: 320px;
	}
	.disclosure-nav .dropmenu.mega {
		left: -280px;
		min-width: 680px;
		padding-inline: 0.5rem;
	}
	.disclosure-nav button,
	.disclosure-nav .main-link {
		padding-inline: 0.125rem;
	}
	.footermenu .menu > * + * {
		margin-top: 0.5rem;
	}

	.menu-legal ul.menu {
		display: flex;

		.menu-item {
			display: inline;
		}

		> * + * {
			margin-top: unset;
			margin-left: 0.5rem;

			&::before {
				content: "|";
				color: rgb(255 255 255 / 0.5);
				margin-right: 0.5rem;
			}
		}
	}
}



@media (width >= theme(--breakpoint-lg)) {
	.disclosure-nav .dropmenu:not(.mega) {
		left: -64px;
	}
	.disclosure-nav .dropmenu.mega {
		left: -380px;
		min-width: 960px;
		padding-inline: 1rem;
	}
	.disclosure-nav ul a {
		padding-block: 0.5rem;
	}
	.disclosure-nav button,
	.disclosure-nav .main-link {
		padding-inline: 0.25rem;
	}

	.footermenu ul {
		display: flex;
		gap: 1rem;
	}
	.footermenu .menu > * {
		margin-top: unset;
		line-height: initial;
	}

}

