/*   P A G E   H E R O   */
.page-hero-overlay {
	background-color: rgb(255 255 255 / 0.85);
	background-image: none;
}


@media (min-width: 1024px) {
	.page-hero-overlay {
		background-color: unset;
		background-image: linear-gradient(to right, rgb(255 255 255 / 1) 0%, rgb(255 255 255 / 0.9) 45%, rgb(255 255 255 / 0.2) 85%, rgb(255 255 255 / 0) 100%);
	}
}
