/* Pagination */
ul.page-numbers {
	max-width: 60rem;
	font-family: var(--font-head);
	color: var(--color-aqua-800);
	margin-inline: auto;
	margin-block: clamp(1rem, -0.091rem + 5.45vw, 4rem);
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

}
a.page-numbers {
	color: var(--color-aqua-700);
}
a.page-numbers:hover {
	color: var(--color-atlantis-900);
}
span.current {
	opacity: 0.5;
}
