/* Separators */
[class*="is-style-sep-"] {
	margin-block: 1rem;
	height: 3px;
	width: 100%;
	border-width: 0;
	background-image: linear-gradient(
		to bottom,
		var(--_start) 33%,
		transparent 33%,
		transparent 66%,
		var(--_end) 66%,
		var(--_end) 100%
	);
}
@media (width >= theme(--breakpoint-md)) {
	[class*="is-style-sep-"] {
		margin-block: 1.5rem;
	}
}
@media (width >= theme(--breakpoint-lg)) {
	[class*="is-style-sep-"] {
		margin-block: 2rem;
	}
}

.is-style-sep-aqua {
	--_start: var(--color-aqua-500);
	--_end: var(--color-aqua-200);
}
.is-style-sep-green {
	--_start: var(--color-atlantis-500);
	--_end: var(--color-atlantis-200);
}
.is-style-sep-gray {
	--_start: var(--color-neutral-500);
	--_end: var(--color-neutral-200);
}


/* Spacers */
.wp-block-spacer {
	margin-block: 0;

	&.is-style-xs {
		height: clamp(8px, 2vw, 24px) !important;
	}
	&.is-style-sm {
		height: clamp(12px, 3vw, 36px) !important;
	}
	&.is-style-md {
		height: clamp(24px, 5vw, 48px) !important;
	}
	&.is-style-lg {
		height: clamp(36px, 8vw, 72px) !important;
	}
	&.is-style-xl {
		height: clamp(48px, 9vw, 96px) !important;
	}
}
