.social-links a {
	background-color: transparent;
	color: inherit;
}
.social-links a:hover {
	color: var(--color-aqua-500);
}

.footer-social .social-links a {
	background-color: transparent;
	color: inherit;
}
.footer-social .social-links a:hover {
	background-color: transparent;
	color: var(--color-atlantis-500);
}
.on-darkbg .social-links a {
	background-color: transparent;
	color: var(--color-neutral-300);
}
.on-darkbg .social-links a:hover {
	color: var(--color-atlantis-400);
	background-color: var(--color-neutral-700);
}
