table caption {
	caption-side: bottom;
	padding-block: var(--spacing-2);
	text-align: left;
}

table caption,
figcaption {
	font-family: var(--font-head);
	font-weight: 600;
}

.prose thead,
.prose tfoot { background-color: var(--color-neutral-200); }
.prose th {
  border-color: var(--color-neutral-300);
	border-style: solid;
}
.prose thead th { border-bottom-width: 2px; }
.prose tbody th {
	border-bottom-width: 1px;
	vertical-align: top;
}
.prose tbody tr:nth-child(even) { background: color-mix(in srgb, var(--color-neutral-200), transparent 60%); }
.prose table td {
  border-bottom-width: 1px;
  border-color: var(--color-neutral-200);
	border-style: solid;
	border-top-width: 1px;
}
.prose table:has(> colgroup) { table-layout: fixed; }
.table-oldtab { font-variant-numeric: oldstyle-nums tabular-nums; }
.num {
	text-align: right;
	font-variant-numeric: tabular-nums;
}

.table-tax-brackets td:not(:first-of-type) {
	font-variant-numeric: tabular-nums;
	min-width: 12em;
	max-width: 50vw;
	text-align: right;
}

[role="region"][aria-labelledby][tabindex] {
  overflow: auto;
  border: 0.1em solid var(--color-neutral-300);
}

[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}

[role="region"][aria-labelledby][tabindex] table {
  margin: 0;
  border: none;
}


@media (prefers-color-scheme: dark) {

	.prose thead {
		background-color: var(--color-neutral-950);
		border-color: var(--color-neutral-600);
	}
	.prose tfoot { background-color: var(--color-neutral-950); }

	.prose table th,
	.prose table td {
		border-color: var(--color-neutral-600);
	}

	.prose tbody tr:nth-child(even) { background: color-mix(in srgb, var(--color-neutral-600), transparent 60%); }

	[role="region"][aria-labelledby][tabindex] { border: 0.1em solid var(--color-neutral-600); }
}


@media (width >= theme(--breakpoint-lg)) {
	table caption { text-align: center; }
}
