/* Quotes */
.wp-block-quote p {
	margin-block: --spacing(4);
	font-size: var(--text-base);
  line-height: var(--text-xl--line-height);
}
.wp-block-quote cite {
	font-family: var(--font-head);
	font-size: var(--text-sm);
  line-height: var(--text-lg--line-height);
	font-style: normal;
}
.wp-block-quote cite::before {
  content: '—';
}
.wp-block-quote.is-style-default {
	color: var(--color-aqua-800);
	border-color: var(--color-aqua-500);
	position: relative;
	border-radius: --spacing(2);
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	padding: --spacing(4);
}


@media (prefers-color-scheme: dark) {
	.wp-block-quote.is-style-default {
		color: var(--color-aqua-200);
	}
}


@media (width >= theme(--breakpoint-lg)) {
	.wp-block-quote p {
		font-size: var(--text-xl);
  	line-height: var(--text-2xl--line-height);
	}

	.wp-block-quote cite {
		font-size: var(--text-base);
  	line-height: var(--text-2xl--line-height);
	}

	.wp-block-quote.is-style-default {
		padding-inline: --spacing(8);
	}
}
