/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */


 body {
	--tw-text-opacity: 1;
	font-family: var(--font-sans);
  color: var(--color-neutral-800);
}


.dlig { font-variant-ligatures: discretionary-ligatures; }
.hlig { font-variant-ligatures: historical-ligatures; }
.dlig.hlig { font-variant-ligatures: discretionary-ligatures historical-ligatures; } /* Apply both historic and discretionary */

.pnum { font-variant-numeric: proportional-nums; }
.tnum { font-variant-numeric: tabular-nums;    }
.lnum { font-variant-numeric: lining-nums; }
.onum { font-variant-numeric: oldstyle-nums; }
.zero { font-variant-numeric: slashed-zero;    }
.pnum.zero { font-variant-numeric: proportional-nums slashed-zero; } /* Apply slashed zeroes to proportional numerals */
.tnum.zero { font-variant-numeric: tabular-nums slashed-zero; }
.lnum.zero { font-variant-numeric: lining-nums slashed-zero; }
.onum.zero { font-variant-numeric: oldstyle-nums slashed-zero; }
.tnum.lnum.zero { font-variant-numeric: tabular-nums lining-nums slashed-zero; }

.frac { font-variant-numeric: diagonal-fractions; }
.afrc { font-variant-numeric: stacked-fractions; }
.ordn { font-variant-numeric: ordinal; }
.smcp { font-variant-caps: small-caps; }
.c2sc { font-variant-caps: unicase; }
.hist { font-variant-alternates: historical-forms; }

/* we only have 300 and 600 weights of Serenity */
:where(h1, h2, h3, h4, h5, h6) strong, b, th { font-weight: 600; }

h1, h2, h3, h4, h5 {
	font-family: var(--font-head);
	font-weight: 300;
	font-variant-numeric: lining-nums;
	line-height: 1.1;
}
@supports (text-wrap: balance) {
	h1, h2, h3,	h4,	h5 {
		text-wrap: balance;
	}
}

h1 { font-size: var(--wp--preset--font-size--4-xl); }
h2 { font-size: var(--wp--preset--font-size--3-xl); }
h3 { font-size: var(--wp--preset--font-size--2-xl); }
h4 { font-size: var(--wp--preset--font-size--xl); }
h5 { font-size: var(--wp--preset--font-size--lg); }
h6 {
	font-size: var(--wp--preset--font-size--base);
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.alt-headings h1,
.alt-headings h2,
.alt-headings h3,
.alt-headings h4,
.alt-headings h5 {
	font-weight: 600;
}
.alt-headings h1 { font-size: var(--wp--preset--font-size--3-xl); }
.alt-headings h2 { font-size: var(--wp--preset--font-size--2-xl); }
.alt-headings h3 { font-size: var(--wp--preset--font-size--xl); }
.alt-headings h4 { font-size: var(--wp--preset--font-size--lg); }
.alt-headings h5 { font-size: var(--wp--preset--font-size--base); }
.alt-headings h6 { font-size: var(--wp--preset--font-size--sm); }


td, math, time[datetime*=":"] {
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}


:focus {
	outline: 2px dashed;
}


@supports ( font-variant-position: sub ) {
	sub, .sub {
		vertical-align: baseline;
		font-size: 100%;
		line-height: inherit;
		font-variant-position: sub;
	}
}

@supports ( font-variant-position: super ) {
	sup, .sup {
		vertical-align: baseline;
		font-size: 100%;
		line-height: inherit;
		font-variant-position: super;
	}
}

.prose {
	text-wrap: pretty;
	font-variant-numeric: proportional-nums;
	line-height: 1.7;

	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 4;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-lines: 2;

	hyphens: auto;
	hyphenate-limit-chars: 10;
	hyphenate-limit-lines: 2;
	hyphenate-limit-zone: 8%;
	hyphenate-limit-last: always;
}

.prose pre, .prose code, .prose var, .prose samp, .prose kbd,
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
	-webkit-hyphens: manual;
	hyphens: manual;
}

.prose a:not([class]) {
	text-decoration: underline;
	text-decoration-color: color-mix(in oklch, currentColor, transparent 70%);
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.15em;
	text-underline-offset: 0.2em;
}
.prose a:not([class]):hover {
	text-decoration-color: color-mix(in oklch, currentColor, transparent 30%);
}
/* .prose :where(a):not(:where([class~=wp-block-button__link],
[class~=not-prose],
[class~=not-prose] *)) {
	text-decoration: none;
	border-bottom: 2px solid var(--color-neutral-400);
}
.prose :where([href]):not(:where([class~=wp-block-button__link],
[class~=not-prose],
[class~=not-prose] *)):hover {
	border-bottom: 2px solid var(--color-orient-600);
} */

:lang(en) > * { quotes: '“' '”' '‘' '’' ; } /* “Generic English ‘style’” */
.prose :where(.wp-block-quote, blockquote) {
	border-color: transparent;
}
q::before,
blockquote p::before { content: open-quote }
q::after,
blockquote p::after { content: close-quote }
q p,
blockquote p {
	font-family: var(--font-serif);
	font-style: italic;
}
