/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
 */

 @utility container {
	margin-inline: auto;
}


/* via: https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */
/* div:not(.block-editor-block-list__layout) .full-bleed {
	width: 100vw;
	max-width: unset;
	margin-left: 50%;
	transform: translateX(-50%);
	overflow-x: clip;
} */
div:not(.block-editor-block-list__layout) .full-bleed {
	width: 100vw;
	margin-left: calc(50% - 50vw);
}
div:not(.block-editor-block-list__layout) .full-bleed > div {
	@apply container;
}


.block-editor-block-list__layout .full-bleed {
	width: 100%;
	margin-left: 0;
	transform: none;
}


body {
	/* --_spacing: clamp(2rem, 1.111rem + 4.44vw, 5rem);
	--_padding: clamp(2rem, 1.111rem + 4.44vw, 5rem); */
	--_spacing: clamp(2rem, 1.333rem + 3.33vw, 4rem);
	--_padding: clamp(2rem, 1.333rem + 3.33vw, 4rem);
}

.ll-equal-vert-padding {
	padding-block: var(--_padding);
}

.ll-equal-vert-spacing {
	margin-block: var(--_spacing);
}


.icon {
	height: 1em;
	width: 1em;
}
