/* set WP ui font to Inter 4.0 */
body {
	font-family: Inter, sans-serif !important;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	body {
		font-family: InterVariable, sans-serif !important;
	}
}

/* disable wp5.7 menu hover */
#adminmenu a:focus,
#adminmenu a:hover,
.folded #adminmenu .wp-submenu-head:hover {
	box-shadow: none !important;
}

/* monospace font in acf textareas */
.acf-input textarea {
	font-family: "Fira Code", monospace;
	background-color: #171717;
	color: #a3e635;
	line-height: 1.2;
}

/* post table styles */
.ll_adm-tag {
	--_c: #78716c;
	white-space: nowrap;
	background-color: unset;
	border-radius: 9999px;
	border: 1px solid var(--_c);
	color: var(--_c);
	font-size: 0.75rem;
	line-height: 1rem;
	padding-inline: 0.625rem;
	padding-block: 0.125rem;
}
.ll_adm-tag--original {	--_c: #16a34a; }
.ll_adm-tag--topline {	--_c: #047cba; }
.ll_adm-tag--strategic7 { --_c: #0398a7; }
.ll_adm-tag--other { --_c: #4f46e5;	}
.ll_adm-tag--unknown { --_c: #d97706;	}

.ll_adm-peeplvl--100,
.ll_adm-peeplvl--200 { color: #ec4899; }
.ll_adm-peeplvl--300 { color: #db2777; }
.ll_adm-peeplvl--400 { color: #be185d; }
.ll_adm-peeplvl--500 { color: #9d174d; }
.ll_adm-peeplvl--600 { color: #831843; }
.ll_adm-peeplvl--700 { color: #500724; }
.ll_adm-peeplvl--800,
.ll_adm-peeplvl--900 { color: #737373; }
